  #photoupload {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: #e8e8e8;
  z-index: 10000;
}

#photoupload .fileBrowser {
  font-size: 1em;
  padding: 1.5em;
  border-radius: 10px;
  background: #dd4b39;
  opacity: 0.8;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 8px 1px #bbb;
  transition: opacity 0.2s ease-in-out;
}

#photoupload .fileBrowser:hover {
  opacity: 1;
}

#photoupload .input {
  position: relative;
  display: block;
  font-size: 3em;
}
