.homepage {
  text-align: center;
  height: 100vh;
}

#login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: #e8e8e8;
  z-index: 10000;
}

#login .button {
  font-size: 3em;
  padding: 1.5em;
  border-radius: 10px;
  background: #0fbfd6;
  opacity: 0.8;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 8px 1px #bbb;
  transition: opacity 0.2s ease-in-out;
}

#login .button:hover {
  opacity: 1;
}